DATABASE_URL=
DATABASE_URL_UNPOOLED=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_TEST_RECIPIENTS=

GMAIL_USER=
GMAIL_APP_PASSWORD=

SCRAPER_USER_AGENT=

NEXT_PUBLIC_APP_URL=
